<ion-view title="First Aid App" id="page2">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-ios-gear"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <div id="firstAidApp-button-bar1" class="button-bar btn-height">
      <a ui-sref="tabsController.searchByEmergency" id="firstAidApp-button6" style="color:#000000;font-size:12px;" class="button button-positive button-large button-block btn-height">Serch by Emergency</a>
      <a ui-sref="tabsController.searchBySymptoms" id="firstAidApp-button9" style="color:#000000;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-large button-block btn-height">Serch by Symptoms</a>
    </div>
    <div id="firstAidApp-button-bar2" class="button-bar btn-height">
      <a ui-sref="tabsController.searchBySymptoms" id="firstAidApp-button10" style="color:#000000;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-large button-block">Serch by Vitals</a>
      <a ui-sref="tabsController.searchBySymptoms" id="firstAidApp-button12" style="color:#000000;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-large button-block btn-height">Palliative Cares</a>
    </div>
    <div id="firstAidApp-button-bar3" class="button-bar btn-height">
      <a ui-sref="tabsController.searchBySymptoms" id="firstAidApp-button13" style="color:#000000;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-large button-block">Survival Guides</a>
      <a ui-sref="tabsController.howToGuides" id="firstAidApp-button11" style="color:#000000;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-large button-block">How To Guides</a>
    </div>
    <div id="firstAidApp-button-bar4" class="button-bar btn-height">
      <a ui-sref="tabsController.timers" id="firstAidApp-button14" style="color:#000000;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-large button-block">Timers</a>
      <a ui-sref="tabsController.tasks" id="firstAidApp-button15" style="color:#000000;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-large button-block">Tasks</a>
    </div>
    <div id="firstAidApp-button-bar5" class="button-bar btn-height">
      <a href="#" onclick="window.open('http://50.172.239.7:34344', '_system', 'location=yes'); return false;" id="firstAidApp-button18" style="color:#000000;font-size:14px;border-radius:0px 0px 0px 0px;" class="button button-positive button-large button-block">Mobile Responsive Site</a>
    </div>
  </ion-content>
</ion-view>