<ion-view title="How To Guides">
  <ion-content padding="true" class="has-header">
    <main class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="row col-sm-12">
            <div class="col-sm-12">
              <h3>How To Guides</h3>
              <hr>
            </div>
          </div>
          <div class="row col-sm-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                How To: Make a soucher
              </div>
              <div class="panel-body">
                <a href="http://www.wikihow.com/Purify-Water">Wikihow | How to Purify Water
                </a>
              </div>
              <a href="http://www.wikihow.com/Purify-Water">
              </a>
            </div>
            <a href="http://www.wikihow.com/Purify-Water">
            </a>
          </div>
          <a href="http://www.wikihow.com/Purify-Water">
          </a>
          <div class="row col">
            <a href="http://www.wikihow.com/Purify-Water">
            </a>
            <div class="panel panel-primary">
              <a href="http://www.wikihow.com/Purify-Water">
                <div class="panel-heading">
                  How To: Steralize water
                </div>
              </a>
              <div class="panel-body">
                <a href="http://www.wikihow.com/Purify-Water">
                </a>
                <a href="http://www.howtosurvivestuff.com/survival-lifestyle/medical/stitching-wounds-how-to-suture">howtosurvivestuff.com | Soucher</a>
              </div>
            </div>
          </div>
          <div class="row col-sm-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                How To: Stop bleeding
              </div>
              <div class="panel-body">
                <a href="http://www.wikihow.com/Stop-Bleeding">Wikihow | How to stop Bleeding</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/row-->
    </main>
  </ion-content>
</ion-view>