<ion-view title="Palliative Care" id="page9">
  <ion-content padding="true" class="has-header">
    <div id="palliativeCare-markdown1"></div>
    <div class="list card" id="palliativeCare-card21">
      <ion-item class="item-icon-left positive" id="palliativeCare-list-item10">
        <i class="icon ion-ios-information"></i>A Definition of Palliative Care</ion-item>
      <div class="item item-body" id="palliativeCare-list-item-container2">
        <div id="palliativeCare-markdown5">
          <p style="margin-top:0px;color:#000000;font-size:13px;">Palliative care is a general term that includes treatment given to relieve pain and control symptoms when there is no reasonable expectation of a cure. Individuals with advanced chronic illness or life-limiting conditions will often benefit
            from palliative care. It focuses on the whole person, encompassing body, mind, and spirit to enhance comfort and preserve dignity. As defined by the World Health Organization, palliative care—</p>

          <p style="color:#000000;font-size:13px;">• Provides relief from pain and other distressing symptoms.</p>

          <p style="color:#000000;font-size:13px;">• Affirms life and regards dying as a normal process.</p>

          <p style="color:#000000;font-size:13px;">• Intends neither to hasten or postpone death.</p>

          <p style="color:#000000;font-size:13px;">• Integrates the psychological and spiritual aspects of patient care.</p>

          <p style="color:#000000;font-size:13px;">• Offers a support system to help patients live as actively as possible until death.</p>

          <p style="color:#000000;font-size:13px;">• Offers a support system to help the family cope during the patient’s illness and in their own bereavement.</p>

          <p style="color:#000000;font-size:13px;">• Uses a team approach to address the needs of patients and their families, including bereavement counseling, if indicated.</p>

          <p style="color:#000000;font-size:13px;">• Will enhance quality of life, and may also positively influence the course of illness.</p>

          <p style="color:#000000;font-size:13px;">• Is applicable early in the course of illness, in conjunction with other therapies that are intended to prolong life, such as chemotherapy or radiation therapy, and includes those investigations needed to better understand and manage distressing
            clinical complications.</p>

          <p style="color:#000000;font-size:13px;">Courtesy - http://www.cdc.gov/training/ACP/page34830.html</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>