<ion-view title="Survival Guides" id="page12">
  <ion-content padding="true" class="has-header">
    <div>
      <div class="row">
        <div class="card">
          <div class="item item-divider item-positive">
            Zombie Survival Rule #1 - Make a pit stop, fill up before it’s too late
          </div>
          <div class="item item-text-wrap">
            <p></p>
            <p>Siphoning gas…with your mouth? Gross. If you remember to always keep your tank at least half full, you can avoid having the lingering taste of petrol linger in your mouth and have enough fuel to get outta Dodge before impending disaster strikes.</p>
            <p></p>
          </div>
          <div class="item item-divider">
            <p>
              <a href="http://blogs.cdc.gov/publichealthmatters/2012/02/thewalkingdead/">Teachable Moments – Courtesy of The Walking Dead on AMC </a>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="item item-divider item-positive">
            Zombie Rule #2 – First aid kit, never leave home without it
          </div>
          <div class="item item-text-wrap">
            <p>We felt T-Dog’s pain when he ripped open his arm on a rusty car door while trolling the wreckage and siphoning gas. We’re assuming that you’re not scavenging for supplies on the freeway or hiding under abandoned cars to avoid walkers, but
              the key take away here is to always have a first kit on hand. By doing so, you could avoid having to stop the bleeding with a grimy towel and some duct tape like T-Dog did…not exactly sterile supplies. T-Dog’s luck improves when Daryl offers
              his brother’s stash of anti-biotics (not something the CDC recommends!) and the group stumbles upon a farm conveniently inhabited by folks versed in the medical arts. Herschel’s wife is able to stitch up T-Dogs arm (now oozing puss) and
              prevent further infection. Always have a first aid kit on hand. If you’re really smart you’ll keep one at home, in your car, and at work. T-Dog could have avoided a lot of pain and suffering if he’d followed this simple rule.</p>
          </div>
          <div class="item item-divider">
            <p>
              <a href="http://blogs.cdc.gov/publichealthmatters/2012/02/thewalkingdead/">Teachable Moments – Courtesy of The Walking Dead on AMC </a>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="item item-divider item-positive">
            Zombie Rule #3 – Clean water is zombie-free water
          </div>
          <div class="item item-text-wrap">
            <p>Zombie down the well? You might want to find a new water source. One of the most gruesome scenes of the season was when the group found a water-logged zombie in Herschel’s well, nasty right? Contaminated water is a common concern after a disaster,
              zombie related or other. After an emergency, especially flooding, run-off containing livestock waste, human sewage, chemicals, and other contaminants can taint water used for drinking, cooking, or cleaning. Our suggestion to Rick and his
              crew – don’t drink the water! If you’re ever concerned about the quality of your water after a flood or other emergency check with local authorities about water safety, you can also make water safe by boiling, adding disinfectants, or filtering.
              We’ll be glued to AMC next Sunday night (2/12 @ 9/8c) when our intrepid survivors return and we’re sure there’ll be plenty more “teachable moments.” If you can think of others from Season 1 or 2 leave us a comment we’d love to hear from
              you</p>
          </div>
          <div class="item item-divider">
            <p>
              <a href="http://blogs.cdc.gov/publichealthmatters/2012/02/thewalkingdead/">Teachable Moments – Courtesy of The Walking Dead on AMC </a>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="item item-divider item-positive">
            Prepare an Emergency Food Supply
          </div>
          <div class="item item-text-wrap">
            <p></p>
            <p>Keep foods that: </p>
            <ul>
              <li>Have a long storage life</li>
              <li>Require little or no cooking, water, or refrigeration, in case utilities are disrupted</li>
              <li>Meet the needs of babies or other family members who are on special diets Meet pets' needs</li>
              <li>Are not very salty or spicy, as these foods increase the need for drinking water, which may be in short supply</li>
              <br>
            </ul>
            <p></p>
          </div>
          <div class="item item-divider">
            <p>
              <a href="https://www.cdc.gov/disasters/foodwater/prepare.html">CDC – Prepare an Emergency Food Supply </a>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card">
          <div class="item item-divider item-positive">
            Prepare an Emergency Water Supply
          </div>
          <div class="item item-text-wrap">
            <p></p>
            <ul>
              <br>
              <li>Store at least 1 gallon of water per day for each person and each pet. You should consider storing more water than this for hot climates, for pregnant women, and for persons who are sick.</li>
              <li>Store at least a 3-day supply of water for each person and each pet (try to store a 2-week supply if possible).</li>
              <li>Observe the expiration date for store-bought water; replace other stored water every six months.</li>
              <li>Store a bottle of unscented liquid household chlorine bleach to disinfect your water and to use for general cleaning and sanitizing.</li>
            </ul>
            <p>Note: Caffeinated drinks and alcohol dehydrate the body, which increases the need for drinking water</p>
            <p></p>
          </div>
          <div class="item item-divider">
            <p>
              <a href="https://www.cdc.gov/disasters/foodwater/prepare.html">CDC – Prepare an Emergency Water Supply </a>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card">
          <div class="item item-divider item-positive">
            Emergency Water Preparation
          </div>
          <div class="item item-text-wrap">
            <p></p>
            <p>In an emergency situation, tap water may not be safe to drink or use. It is important to prepare for possible emergency situations ahead of time by preparing an emergency water supply for yourself and your family. It is also essential to know
              how to make contaminated water safe to drink and how to find alternate sources of water.
              <br>Use the links below to help prepare for and respond to your drinking water needs in the event of an emergency.</p>
            <p>
              <a href="http://www.cdc.gov/healthywater/emergency/drinking/making-water-safe.html">CDC - Making Water Safe in an Emergency</a>
              <a></a>
            </p>
            <p></p>
          </div>
          <div class="item item-divider">
            <p>
              <a href="http://www.cdc.gov/healthywater/emergency/drinking/emergency-water-supply-preparation.html"> Emergency Water Supply Preparation</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>