<ion-view title="Urgent Care" id="page13">
  <ion-content padding="true" class="has-header">
    <div id="urgentCare-container12">
      <h3 id="urgentCare-heading2" style="color:#000000;">Spider Bites</h3>
    </div>
    <ion-list id="urgentCare-list11">
      <ion-item class="item-icon-left" id="urgentCare-list-item21">
        <i class="icon ion-ios-medical"></i>Check your symptoms</ion-item>
      <ion-item class="item-icon-left" id="urgentCare-list-item25">
        <i class="icon ion-ios-body"></i>Check your vitals</ion-item>
      <ion-item class="item-icon-left" id="urgentCare-list-item23">
        <i class="icon ion-ios-paper"></i>Treatments</ion-item>
    </ion-list>
    <div class="spacer" style="height: 32px;"></div>
    <div id="urgentCare-container13">
      <h3 id="urgentCare-heading4" style="color:#000000;">Concussion</h3>
    </div>
    <ion-list id="urgentCare-list14">
      <ion-item class="item-icon-left" id="urgentCare-list-item24">
        <i class="icon ion-ios-medical"></i>Check your symptoms</ion-item>
      <ion-item class="item-icon-left" id="urgentCare-list-item22">
        <i class="icon ion-ios-body"></i>Check your vitals</ion-item>
      <ion-item class="item-icon-left" id="urgentCare-list-item26">
        <i class="icon ion-ios-paper"></i>Treatments</ion-item>
    </ion-list>
    <div class="spacer" style="height: 32px;"></div>
    <div id="urgentCare-container14">
      <h3 id="urgentCare-heading6" style="color:#000000;">Stab Wound</h3>
      <ion-list id="urgentCare-list16">
        <ion-item class="item-icon-left" id="urgentCare-list-item29">
          <i class="icon ion-ios-paper"></i>Treatments</ion-item>
        <ion-item class="item-icon-left" id="urgentCare-list-item28">
          <i class="icon ion-ios-body"></i>Check your vitals</ion-item>
        <ion-item class="item-icon-left" id="urgentCare-list-item27">
          <i class="icon ion-ios-medical"></i>Check your symptoms</ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>