<ion-view title="First Aid App" id="page2">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-ios-gear"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <div layout="row" style="padding:0em" class="row">
      <div layout="column" flex="1">
        <div class="item item-text-wrap" style="height: 96px">
          <a href="/searchby/firstaids">Search Emergency</a>
        </div>
        <div class="item item-text-wrap" style="height: 96px">
          <a href="/searchby/symptoms">Search Vitals</a>
        </div>
        <div class="item item-text-wrap" style="height: 96px">
          <p>Palliative Care</p>
        </div>
        <div class="item item-text-wrap" style="height: 96px">
          <p>How To Guide</p>
        </div>
        <div class="item item-text-wrap" style="height: 96px">
          <p>Tasks</p>
        </div>
      </div>

      <div layout="column" flex="1">
        <div class="item item-text-wrap" style="height: 96px">
          <a href="/searchby/symptoms">Search Symptoms</a>
        </div>
        <div class="item item-text-wrap" style="height: 96px">
          <a href="/searchby/symptoms">Search Symptoms</a>
        </div>
        <div class="item item-text-wrap" style="height: 96px">
          <p>Palliative Care</p>
        </div>
        <div class="item item-text-wrap" style="height: 96px">
          <p>Survival guides</p>
        </div>
        <div class="item item-text-wrap" style="height: 96px">
          <p>Timers</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>