<ion-view title="Search By Vitals" id="page6">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-ios-gear"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="searchByVitals-container6">
      <form id="searchByVitals-form5" class="list">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="">
        </label>
        <div class="spacer" style="height: 100px;"></div>
      </form>
    </div>
    <div id="searchByVitals-container8">
      <p>
        Add some
        <b>HTML</b> for
        <u>flavor</u>
      </p>
    </div>
  </ion-content>
</ion-view>