<ion-header-bar class="bar-positive">
        <button class="icon ion-navicon button button-clear"></button>
        <h1 class="title">First Aid App</h1>
        <button class="icon ion-ios-gear button button-clear"></button>
</ion-header-bar>
      
<ion-content class="has-tabs has-footer">
          <p><a href="http://10.0.123.111:34344" class="button">Hello. This is some text</a></p>
</ion-content>

<!--ion-footer-bar class="bar-dark">
    <div class="tabs tabs-icon-top">
        <a class="tab-item" href="http://10.0.123.111:34344">
            <i class="icon ion-ios-home"></i>Home
        </a>
        <a class="tab-item">
            <i class="icon ion-ios-timer"></i>Timers
        </a>
        <a class="tab-item">
            <i class="icon ion-ios-list"></i>To Do
        </a>
        <a class="tab-item">
            <i class="icon ion-ios-search"></i>Search
        </a>
    </div>

</ion-footer-bar -->
